<div class="reel-container">
  <a href="https://www.instagram.com/reels/{{id}}/" target="_blank">
    <div class="reel-card">
      <img src="{{image}}" alt="Instagram Reel" class="reel-thumbnail">
      <div class="play-button">▶</div>
    </div>
  </a>
</div>
