@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css";

.imageblock.left {
  text-align: left !important;
}

.imageblock.left img {
  float: left !important;
  margin-right: 1em !important;
  margin-bottom: 0.5em !important;
}